# --------------------------------------
# OS / Editor
# --------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# --------------------------------------
# Python
# --------------------------------------
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.pytest_cache/*
.mypy_cache/
.ruff_cache/

# --------------------------------------
# Python packaging
# --------------------------------------
*.egg-info/
.eggs/
build/
dist/

# --------------------------------------
# Test artifacts
# --------------------------------------
.coverage
coverage.xml
htmlcov/

# --------------------------------------
# Environment / Secrets
# --------------------------------------
.env
.env.*
!.env.example

# --------------------------------------
# Logs
# --------------------------------------
*.log

# --------------------------------------
# Temporary / Misc
# --------------------------------------
tmp/
tmp/*